# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

project_2/archive_project_summary.txt
project_2/project_2.runs/
project_2/project_2.cache/
project_2/project_2.data/
project_2/project_2.hw/
project_2/project_2.sim/
*.bak
project_2/vivado_6680.backup.jou
project_2/vivado.log
project_2/project_2.srcs/sources_1/imports/sources_1/new/tmp.txt
project_2/*.jou
project_2/*.log
*.rpx

project_2/vivado.jou
project_2/vivado.log*.backup.log
*.log
*.jou
*.str
*~
